.button {
  display: inline-block;
  padding: 20px;
  border: 1px solid black;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}

.canvas {
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  min-height: 100vh;       /* Makes the container take up the full page height */
}

.directions {
  font-weight: bold;
}

#grey {
  background-color: grey;
}

#yellow {
  background-color: yellow;
}

#white {
  background-color: white;
}

#blue {
  background-color: blue;
}
